body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.user-settings {
    display: flex;
    align-items: center;
    
}
.drawing-area {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 600px;
    height: 600px;
    border-style: groove;
    border-color: gray;
}

.grid-size {
    background-color: #e7e7e7; 
    color: black;
    border:none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 25px;
    margin-top: 25px;
}